.NotesAlert{
    position: fixed !important;
    left: 10px;
    bottom: 10px;

    width: 300px;
    margin: 0 !important;
    /*modal z-index +1*/
    z-index: 1051;
}

.NotesAlert p.small{
    margin: 0;
}