.PPReviewsItem{
    border: 1px solid var(--bs-blue);
    margin: .5em 0;
    padding: .5em;
    border-radius: .25em;
}
.PPReviewsItem header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.PPReviewsItem p{
    margin: 0;
}