.APPLItem{
    margin: 0 .5em .5em 0;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid var(--bs-gray-300);
}

.APPLItem a,
.APPLItem .list-group-item{
    font-size: .9em;
}

.APPLItem .list-group{
    margin: .5em 0;
}
.APPLItem .list-group-item{
    padding: .25em 1em;
    color: var(--bs-blue);
}